.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 40px;
  .heroWrapper {
    width: 40%;
    h1 {
      font-family: Lexend ExtraBold, sans-serif;
      font-weight: bold;
      font-size: 4em;
    }
  }

}