.container {
  h3{
    color: #0E1735;
  }
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 40px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1024px) {
    flex-direction: column;
    flex: 1;
  }

  flex: 1 2 100px;
  .firstColumn {
    width: 40%;
    @media (max-width: 1024px) {
      width: 100%;
    }

    .logoContainer {
      display: flex;
      gap:16px;
      align-items: center;
    }
    .socials{
      display: flex;
      gap: 24px;
      a{
        cursor: pointer;
      }
      @media (max-width: 1024px) {
        justify-content: center;
      }
    }
  }

  .secondColumn {
    display: flex;
    margin: 40px 0px;
    gap: 40px;
     ul   {
       font-weight: 400;
       font-size: 14px;
       line-height: 18px;
       /* identical to box height */

       text-transform: capitalize;

       /* Neutral / 500 */

       color: #888B97;

       padding: 0px;
      list-style: none;

    }

  }
}